/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}
html {
    font-family:Arial, Helvetica, sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}
main {
    flex: 1;
}

/* header */
#main {
    background-color: rgba(38, 128, 206, 0.3);
}

#sub {
    height: 100px;
    max-width: 100%;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav {
    
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px 0;
    width: 70px;

}
    
.logo {
    
    padding: 25px 0 0 50px;
    align-items: center;
    width: auto;
    max-height: 80px;
}

#sub .elements .TLIT_NEWS{
    position: absolute; 
    left: 600px;
    top: 10px;
    font-size: 50px;
    text-decoration: none;
    /* padding: 50% 0 0 100px; */
}
    
#sub2 {
    height: 48px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav2 li {
    display: inline-block;
}
#nav2 li a {
    
    color: #000;
    text-decoration: none;
    line-height: 48px;
    padding: 0 32px;
    border: 0.8px;
    
}
#nav2 .subnav {
    display: inline-block;
    position: absolute;
    
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}
#nav2 li:hover .subnav2 {
    display: block;
}

#nav2 .subnav2 {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav2 > li:hover > a,
#nav2 .subnav2 li:hover a {
    color: red;
}
#nav2 .nav-around-down,
#nav2 .nav-around-down-2 {
    font-size: 12px;
}

/* slider */
.slider {
    background-color: rgb(104, 154, 195);
}

.container {
    max-width: 900px; 
    margin: auto; 
    transform: scale(0.8); 
    transform-origin: center center;
    transition: transform 0.5s;
  }

.carousel-item img {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: auto; 
}

.carousel {
    margin-bottom: 50px;
}



/* footer */
/* .footer {
    width: 100%;
    bottom: 0;
    background-color: #2a2626;
    transition: background 0.3s linear;
}
.container {
    max-width: auto;
    padding: 30px 40px;
    margin: auto;
} 
.content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.profile .logo__area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.profile .logo_area img {
    border-radius: 50%;
    border: 1px solid #fff;
}
.logo__area .logo_name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: #ffffff;
}
.desc__area {
    max-width: 320px;
    margin-bottom: 1.25rem;

}

.desc__area a {
    color: #828282;
    font-weight: 400;
    line-height: 28px;
}
.service__area {
    display: flex;
}
.social__media {

   margin-left: 400px; 
   display: flex;

}

.social__media a {
    margin: 20px;
}

.social__media .fb img {
    width: 100px;
    height: 50px;
}

.social__media .ins img {
    width: 100px;
    height: 50px;
}

.social__media .tiktok img {
    width: 95px;
    height: 50px;
}

.footer__contact {
    
    padding: 50px ;
} */

