/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
html {
    font-family:Arial, Helvetica, sans-serif;
}


#main {

}

#sub {
    height: 100px;
    max-width: 100%;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav {
    
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px 0;
    width: 70px;

}
    
.logo {
    
    padding: 25px 0 0 50px;
    align-items: center;
    width: auto;
    max-height: 80px;
}

#sub .elements .TLIT_NEWS{
    position: absolute; 
    left: 600px;
    top: 10px;
    font-size: 50px;
    text-decoration: none;
    /* padding: 50% 0 0 100px; */
}
    


#sub .search-btn {
    float: right;
    padding: 0 16px;
    cursor: pointer;
}
#sub .search-icon {
    color: #000;
    font-size: 16px;
    line-height: 111.2px;
    display: inline-block;
    
}
#sub2 {
    height: 48px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav2 {

}
#nav2 li {
    display: inline-block;
}
#nav2 li a {
    
    color: #000;
    text-decoration: none;
    line-height: 48px;
    padding: 0 32px;
    border: 0.8px;
    
}
#nav2 .subnav {
    display: inline-block;
    position: absolute;
    
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}
#nav2 li:hover .subnav2 {
    display: block;
}

#nav2 .subnav2 {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav2 > li:hover > a,
#nav2 .subnav2 li:hover a {
    color: red;
}
#nav2 .nav-around-down,
#nav2 .nav-around-down-2 {
    font-size: 12px;
}


#slider {
    
    padding-top: 50%;
    background: url(assets/img/libra.png)top center / cover no-repeat;*/
    
}



#container {

}
.grid {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    background-color: #f6f6f6;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 100px;
    width: 16.6667%;
    background-color: #f5f5f5;
}
.category-list {
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 50px;
}

.grid__column-10 {
    padding-left: 350px;
    padding-right: 350px;
    margin-right: 100px;
    width: 83.3333%;
}

.app__container {
    background-color: #f6f6f6;
}
.category {
    border-radius: 2px;
    color: #000;
}
.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
}
.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.home-filter {
    p

}
.home-filter__page-control {
    padding-left: 600px;
    padding-right: 200px;
}
#home-filter__page-btn .fas {

}

#footer {

}

